.main_chat_message
  .main_chat_message_info
    .main_chat_message_info__talker 
      = message.user.name
    .main_chat_message_info__date 
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")

  .main_chat_meesage_text 
    - if message.content.present?
      %p.main_chat_meesage_text_content
        = message.content
    = image_tag message.image.url, class: 'input_box_text' if message.image.present?

