.side_var
  .side_var_header
    .side_header_box
      %p.side_header_box__user-name iguchi
      %ul.side_header_box__menu
        %li.side_header_box__new-group
          %a{:href => "#"}
            %i.fa.fa-edit
        %li.side_header_box__edit-user
          %a{:href => "#", :style => "user-select: auto;"}
            %i.fa.fa-cog{:style => "user-select: auto;"}

  .side_var_groups
    .group
      %p.group__user-name 井口
      %p.group__latest-message  まだメッセージがありません
    .group
      %p.group__user-name 野見
      %p.group__latest-message  まだメッセージがありません
